body {
    background-image: url("back.jpg");
    background-color: black;
}

#fd1 {
    display: flex;
    justify-content: center;
}
#form{
    display:flex;
    justify-content:start;
}
div{
    padding:5px 0px 0px 20px;
}
button{
    padding:5px;
    margin:10px;
    background-color:royalblue;
}
#reset{
    padding:5px 20px 5px 20px;
    margin-left:40px;
    background-color:indianred;
}